{{define "title"}}Refresh access token{{end}}

{{define "content"}}
  {{if not .Error}}
    <br>Your access token has been refreshed.
  {{end}}

  {{if .Error}}
    <br>Error: {{.Error}}
  {{end}}
{{end}}

