# Enter client secret here
export WITHINGS_CLIENT_ID=asdfasdf

# Enter consumer secret here
export WITHINGS_CLIENT_SECRET=asdfasdf

# Enter your callback URL here
export WITHINGS_REDIRECT_URL=https://withings.yourdomain/callbackurl