{{template "header" .}}

<form action="/subscriptions/subscribe" method="post">
    <input type="submit" value="Subscribe to Withings webhook notifications"/>
</form>

<h3>Subscriptions</h3>
<ul>
    {{ range $_, $value := .Subscriptions }}
        <li>
            <strong>{{ $value }}</strong>
        </li>
    {{ end }}
</ul>


{{template "footer" .}}